.popularCourse-title h1{
  text-align: start;
  font-size: 40px;
}
.p-info:hover{
color: #2B4EFF;
cursor: pointer;
}
.fa-arrow-right{
  margin-left: 5px;
}
.items{
  display: flex;
  align-items: center;
}
.items-svg{
 width: 40px;
 height: 40px;
 margin-left: 40px;

}

.items-info{
  line-height: 8px;
  margin-left: 25px;
  text-align: start;
}
.items-info h2{
  color: #2B4EFF;
}
.item:hover .items-info h2{
  color: aliceblue;
}
.item{
  border: 2px solid #ebe9eb;;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
 
}
.item:hover{
  background: #2B4EFF;
  color: white;
  border: 2px solid #2B4EFF;
  
}
